
    <div class="row g-0 text-bg-dark">
        <div class="card col-10 col-sm-5 col-md-3 p-0 bg-white text-white">
            <%= image_tag 'user.png', class:'img-fluid rounded-star w-70' %>
            <%# <img src="..." class="img-fluid rounded-start" alt="..."> %>
            </div>
                <div class="container col-md-8  mt-5">
                    <div class="card-body ">
                        <h5 class="card-title">Manuel Urbina</h5>
                        <h6 class="card-title" >Contacto: </h6>
                        <p class="card-text">Celular :  +56 9 9987.5543</p>
                        <p class="card-text">Correo  :  meus67@hotmail.com</p>
                        <p class="card-text"><small class="text-body-secondary">Cualquier consulta o duda no duce en llamar </small></p>
                    </div>
        </div>
    </div>