
<div class= "container"> 
    <div class="card mb-5" style="max-width: 1540px;">
        <div class="row g-0  text-bg-dark">
            <div class="col-md-4">
            <%= image_tag "rails.png", class:'img-fluid rounded-star w-100' %>
            </div>
            <div class="col-md-8 text-white">
                <div class="card-body ">
                    <h5 class="card-title">Página Home</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <%# <p class="card-text "><small class="text-body-secondary">Last updated 3 mins ago</small></p> %>
                </div>
            </div>
        </div>
    </div>
</div>