<h1 class="text-center my-5">Pagina de proyecto realizados</h1>

<h3 class="text-center my-5"> Estamos visualizando 3 proyectos realizados en estos meses del curso RUBY ON RAILS  </h3>

<div class="card-group">
    <div class="card">
           <%= image_tag "Meet&Coffee.jpg.png", class:'card-img-top' %>
            <div class="card-body">
            <h5 class="card-title">Meet & Coffee</h5>
            <p class="card-text">Es el primero desafio realizado en el curso M2 dia 5</p>
            <p class="card-text"><small class="text-body-secondary">Elemento ocupados Card</small></p>
            </div>
            <a class="btn btn1 d-md-flex justify-content-md-center">Ver más</a>
    </div>
    <div class="card">
        <%= image_tag "ricomida.jpg.png", class:'card-img-top' %>
            <div class="card-body">
            <h5 class="card-title">Ricomida</h5>
            <p class="card-text">El siguiente desafío permitirá al estudiante practicar las habilidades adquiridas 
                    hasta el momento en relación con HTML, CSS, Bootstrap y jQuery.</p>
            <p class="card-text"><small class="text-body-secondary">Elemento ocupados Carousel - Tooltip -Selectores
                         de etiqueta </small></p>
            </div>
            <a class="btn btn2 d-md-flex justify-content-md-center">Ver más</a>
    </div>
    <div class="card">
         <%= image_tag "viajeschile.jpg.png", class:'card-img-top' %>
            <div class="card-body">
            <h5 class="card-title">Viajes Chile</h5>
            <p class="card-text">Descripción
                    La agencia Viajes Chile solicita la creación de su landing page, que tenga un diseño atractivo
                    e innovador, utilizando los conocimientos que has adquirido a través de las distintas
                    unidades. Para esto, puedes guiarte por la siguiente estructura</p>
            <p class="card-text"><small class="text-body-secondary">Elemento ocupados Operaciones con JavaScript - 
                                Integrando jQuery - Bootstrap JS</small></p>
            </div>
            <a class="btn btn3 d-md-flex justify-content-md-center">Ver más</a>
    </div>
</div>

